<div>
  <div class="wrapper">
    <table class="table">
        <thead>
            <tr>
                <div>
                    <th>
                        <label for="Start Date">Start Date:</label>
                        <input class="form-control" type="datetime-local" id="myDate" [(ngModel)]="SearchLocation.startDate" placeholder="Enter Start Date"
                            name="Start Date" [ngModelOptions]="{standalone: true}" >
                    </th>
                </div>

                <th>
                    <div>
                        <label for="End Date">End Date:</label>
                        <input class="form-control" type="datetime-local" id="myDate" [(ngModel)]="SearchLocation.endDate" [ngModelOptions]="{standalone: true}"  placeholder="Enter End Date"
                            name="End Date">

                    </div>
                </th>
                <th><button type="button" class="btn btn-success" (click)="Search()">Search</button></th>
                
            </tr>
        </thead>
    </table>
</div>
</div>

<div style="height: 100%;width: 100%;margin-top: 10px;">
<google-map 
  height="100%"
  width="100%"
  [center]="center"
 
  (mapClick)="addMarker($event)">
    @for (position of markerPositions; track position) {
      <map-marker [position]="position" [options]="markerOptions" />
    }
</google-map>

</div>
